*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 1170px;
  margin: 0 auto;
  
}
.hero-section{
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat; 
    height: 600px;
   border-radius: 16px;

  }
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  flex-direction: column;
}
.abc{
color: #FFF;
text-align: center;

font-size: 20px;
font-style: normal;
font-weight: 400;

}
.def{
  color: #FFF;
text-align: center;
font-size: 40px;
font-weight: 900;
line-height: auto;
}
 /* main Section */
 .gh{
  color:#FF0000;
  text-align: center;
  line-height: 100px;
  font-size: 60px;
 }
 .ij{
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
 }
 .kl{
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 }
 .queen-section{
  background-image: url('../images/New\ Year\ Photo.png');
  background-repeat: no-repeat; 
  height: 600px;
 border-radius: 16px;

}

.pq-section{

  background-image: url('../images/Vectorrr.png');
  background-repeat: no-repeat; 
  height: 600px;
 border-radius: 16px;

}
.ai-section{
  color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}
 .pi-section{
  color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
 }
 .ml-section{
  color:black;
text-align: left;
font-family: Inter;
font-size: 20px;
font-style: normal;

 }

 .class-box {
  background-color:bisque;
  width: 1170px;
  height: 285px;
  margin:70px 20px;
 }
 


 .red{
color: red;
text-align:middle;


}
.bp {
background-color: #F00;
border-radius: 10px;
text-align: center;
color: white;
border: none;
}
.coming-box {
  background-color:beige;
  width: 1170px;
  height: 285px;
  margin:50px 50px;
 }
 .offer{
  text-align: left;
  text-align: left;
  text-align: left;
 
 }
 .Function{
width: 1170px;
height:auto;
background:#c4bcbc;

 }
 .functional
 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
 }
.clr{
  color: #F00;
text-align: center;

}
.portfolio{
  width: 1600px;
  height: 7335px;
  background: #fffcfc;
  margin:50px 50px;

}
.cl {
color: #F00;
font-size: 24px;
font-style: normal;
font-weight: 500;

}
.bl{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;

}
.kl{
color: rgba(7, 2, 17, 0.60);
font-size: 26px;


}
.sub{

  width: 1320px;
height: 616px;
border-radius: 16px;
background: grey
}


 
.footer{
background: #070211;
width: 1170px;
height: 285px;
margin:70px 20px;


 }

 



